
    <div class="card mb-5 mb-lg-0" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{title}} {{value}}</h5>
        <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
          <li *ngFor="let vars of values[(value)].valid">
            <span class="fa-li"><i class="fas fa-check"></i></span>{{vars}}
          </li>
          <li *ngFor="let vars of values[(value)].false" class="text-muted">
          <span class="fa-li" ><i class="fas fa-times" ></i></span>{{vars}}
        </li>
        </ul>
        <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
      </div>
      </div>
    

